---
---
<section class="contact-section reveal">
  <div class="container">
    <h2 class="section-title">Contact</h2>
    <div class="contact-grid">
      <div class="contact-card">
        <h3>Github</h3>
        <a href="https://github.com/coraljg" class="github-btn">📂 Enlace</a>
      </div>
      <div class="contact-card">
        <h3>LinkedIn</h3>
        <a href="https://www.linkedin.com/in/coraljacomegarcia/" class="github-btn">💼 Enlace</a>
      </div>
    </div>
  </div>
</section>