---
---
<footer class="footer">
  <div class="footer-content">
    <div class="footer-main">    
    <div style="margin-top: 2rem; opacity: 0.6; font-size: 0.9rem; border-top: 1px solid rgba(255,255,255,0.2); padding-top: 1rem;">
      <p>&copy; 2025 CoralJG</p>
    </div>
  </div>
</footer>