---
import { SITE_CONFIG } from "../lib/config.ts";
---

<nav class="navbar">
  <div class="navbar-container">
    <a href="/" class="navbar-logo">CoralJG</a>
    <div class="navbar-actions">
      <button
        class="github-btn"
        onclick={`window.open('${SITE_CONFIG.urls.github}', '_blank')`}
      >
        GitHub
      </button>
    </div>
  </div>
</nav>